.MainMenu {
  margin-top: 30px;

  .reset {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    transform: rotateZ(360deg);

    &:hover {
      transition: 1s ease-out;
      transform: rotateZ(0);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #222;
  }
}
