.MainMenu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  justify-content: space-between;
  transform: translateY(-100%);
  transition: 200ms;

  .button {
    padding: 10px;
    color: white;

    &:hover {
      transition: 100ms;
      background: #222;
    }
  }

  .new {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }

  .close {
    display: flex;
    cursor: pointer;

    .svg {
      margin: auto;
      width: 16px;
      height: 16px;
      fill: white;
    }
  }

  &.open {
    transform: translateY(0);
  }
}
