.MainMenuSwitch {
  position: absolute;
  top: 20px;
  right: 20px;

  .button {
    display: flex;
    color: white;
    padding-right: 35px;
    text-shadow: 0 2px 0 black;
    font-size: 16px;
    transition: 100ms;

    &::after {
      top: 100%;
    }
  }

  &::before,
  &::after,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 20px;
    height: 1px;
    background: white;
    box-shadow: 0 2px 0 black;
    transition: 100ms;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 50%;
  }

  &.open {
    display: none;
  }

  &:hover {
    &::before,
    &::after,
    .button::after {
      width: 30px;
    }

    .button {
      padding-right: 40px;
    }
  }
}
