.PlayerField {
  position: relative;

  .editable {
    width: 100%;
    color: white;
    text-shadow: 0 2px 8px black;
    outline: none;
    background: transparent;
    border: none;
    text-align: center;
    transition: width 100ms ease-out;
    font-family: monospace;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 15px;
    width: 100%;
  }
}
