* { box-sizing: border-box }

body {
  font-family: monospace;
  background: #222;
  color: white;
  margin: 0;
}

#app > div {
  height: 100vh;
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.grid .cell .inner {
  display: flex;
  margin: auto;
  background: #111;
}

.grid .cell .inner > span {
  margin: auto;
}

.grid .cell.highlight__x .inner {
  background: #113;
}

.grid .cell.highlight__y .inner {
  background: #311;
}

.grid .cell.highlight__y.highlight__x .inner {
  background: #313;
}
