* { box-sizing: border-box }

body {
  font-family: monospace;
  background: #55555F;
  color: white;
  margin: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
