@import './variables';
@import './normalize';
@import './mixins';



* { box-sizing: border-box }

.button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: 0;
  font-family: monospace;
}

body {
  font-family: monospace;
  background: #55555F;
  color: white;
  margin: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@import './grid';
@import './ui';
