.ui {
  position: relative;
  text-align: center;
  margin: 0 auto 30px;

  .players {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .active {
    font-weight: bold;

    .player::after {
      transition: box-shadow 200ms;
    }
  }
}



$banner-angle: 10deg;


@keyframes winner {
  0%, 100% {
    transform: scale(1) rotateZ($banner-angle);
    opacity: 1;
  }

  50% {
    transform: scale(0.9) rotateZ($banner-angle);
    opacity: 0.95;
  }
}


.winner-banner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}


.winner {
  .players {
    opacity: 0;
  }

  .winner-banner {
    display: flex;

    .text {
      margin: auto;
      background: #111;
      padding: 12px 30px;
      font-size: 50px;
      font-weight: bold;
      transform: rotateZ($banner-angle);
      animation: 600ms winner infinite ease-out;
    }
  }

  &.winner-1 .winner-banner {
    color: $p1;
  }

  &.winner-2 .winner-banner {
    color: $p2;
  }
}


@import './components/MainMenu';
@import './components/PlayerField';
