@import '../../core/scss/variables';


.grid,
.grid-header {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}


.grid-container {
  position: relative;
  margin: auto;
}


@keyframes arrow {
  0%   { top: 0 }
  50%  { top: 10px }
  100% { top: 0 }
}


.grid-header {
  div {
    position: relative;
    display: flex;
    opacity: 0;
    height: 40px;

    .svg {
      width: 32px;
      height: 32px;
      margin: auto;

      path {
        fill: white;
      }
    }

    &.highlight {
      opacity: 1;
      animation: arrow 400ms infinite;
    }
  }
}


.tile {
  display: flex;

  .inner {
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto;
    background: #666;
    border-radius: 50%;
    transition: 100ms ease-out;

    & > span {
      margin: auto;
      display: none;
    }
  }

  &.owned {
    .inner {
      width: 40px;
      height: 40px;
    }
  }

  &.owner-player-1 .inner {
    background: $p1;
    box-shadow: 0 0 20px $p1;
  }

  &.owner-player-2 .inner {
    background: $p2;
    box-shadow: 0 0 20px $p2;
  }
}

.winner-banner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.winner, .draw {
  .grid-header div {
    &.highlight {
      opacity: 0;
    }
  }

  .tile:not(.owned) {
    .inner {
      transition: 5s;
      opacity: 0;
    }
  }
}


$banner-angle: 15deg;


@keyframes winner {
  0% {
    transform: scale(1) rotateZ($banner-angle);
  }

  50% {
    transform: scale(0.9) rotateZ($banner-angle);
  }

  100% {
    transform: scale(1) rotateZ($banner-angle);
  }
}


.winner {
  .winner-banner {
    display: flex;

    .text {
      margin: auto;
      background: rgba(0,0,0,0.8);
      padding: 30px;
      font-size: 80px;
      font-weight: bold;
      transform: rotateZ($banner-angle);
      animation: 600ms winner infinite ease-out;
    }
  }

  &.winner-1 .winner-banner {
    color: $p1;
  }

  &.winner-2 .winner-banner {
    color: $p2;
  }
}


.turn-player-1 .grid-header div .svg path {
  fill: $p1;
}

.turn-player-2 .grid-header div .svg path {
  fill: $p2;
}
