.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  .inner {
    display: flex;
    margin: auto;
    background: #111;
    border-radius: 50%;
    transition: background 100ms ease-out;

    & > span {
      margin: auto;
    }
  }

  .highlight__player-1 .inner {
    background: #311;
  }

  .highlight__player-2 .inner {
    background: #331;
  }

  .owned .inner {
    font-weight: bold;
  }

  .owned__player-1 .inner {
    background: #F44;
  }

  .owned__player-2 .inner {
    background: #FF4;
    color: black;
  }
}
