.grid,
.grid-header {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}


.grid-container {
  margin-left: auto;
  margin-right: auto;
}


@keyframes arrow {
  0%   { top: 0 }
  50%  { top: 6px }
  100% { top: 0 }
}


.grid-header {
  div {
    position: relative;
    display: flex;
    opacity: 0;
    height: 40px;

    .svg {
      width: 32px;
      height: 32px;
      margin: auto;

      path {
        fill: white;
      }
    }

    &.highlight {
      opacity: 1;
      animation: arrow 400ms infinite;
    }
  }
}


.tile {
  display: flex;

  .inner {
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto;
    background: #666;
    border-radius: 50%;
    transition: 100ms ease-out;

    & > span {
      margin: auto;
      display: none;
    }
  }

  &.owned {
    .inner {
      width: 40px;
      height: 40px;
    }
  }

  &.owner-player-1 .inner {
    background: #F44;
  }

  &.owner-player-2 .inner {
    background: #FF4;
    color: black;
  }
}


.winner {
  .grid-header div {
    &.highlight {
      opacity: 0;
    }
  }

  .tile:not(.owned) {
    .inner {
      transition: 5s;
      opacity: 0;
    }
  }
}
